* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #162e1a;
}

body {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    height: 100vh;
    width: 100vw;
    background-color: #0b3961;
}

main {
    grid-column: 1/31;
    grid-row: 1/31;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

body>main>section {
    width: 100%;
    height: 100%;
}

body>main>section:nth-child(1) {
    background-color: #E5D9B6;
    display: flex;
    align-items: flex-end;
    padding-left: 3vw;
    /* padding-bottom: 6vh; */
    background-image: url('../Images/Frame.svg');
    background-position-y: -35vh;
    background-position-x: -25vh;
    background-repeat: no-repeat;
}

body>main>section:nth-child(2) {
    /* background-color: #15610b8e; */
    background-image: url('../Images/poche-danger-carnivores-vert-botanique\ \(1\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-x: -2vw;
}

body>main>section:nth-child(1)>div {
    /* background-color: red; */
    height: 55%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #162e1a;
    margin-bottom: 8vh;
}

body>main>section:nth-child(1)>div>h1 {
    font-family: 'Just Another Hand', cursive;
    font-size: 8vw;
    text-align: start;
    /* border: #15610b solid 2px; */
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

body>main>section:nth-child(1)>div>h1>span {
    -webkit-text-stroke: 2px #162e1a;
    -webkit-text-fill-color: #162e1a00;
}

body>main>section:nth-child(1)>div> :nth-child(2) {
    text-align: start;
    line-height: 3.5vh;
    /* border: #15610b solid 2px; */
    font-size: 1.3vw;
    font-family: 'Just Another Hand', cursive;
    font-family: 'Tilt Neon', cursive;
}

body>main>section:nth-child(1)>div> :nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 7%;
}

body>main>section:nth-child(1)>div> :nth-child(3)>div {
    width: 40%;
    padding: 5%;
    background-color: #15610b8e;
    border-radius: 50vh;
    font-family: 'Just Another Hand', cursive;
    font-family: 'Tilt Neon', cursive;
    color: #ffffff;
}

.laSection {
    grid-column: 1/31;
    grid-row: 29/31;
    /* height: 10vh; */
    /* width: 100vw; */
    background-color: #e5d9b65e;
    border-top-left-radius: 15vh;
    border-top-right-radius: 15vh;
}