<!DOCTYPE html>
<html lang="fr-BJ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.:: AGRI-DIGITAL ::.</title>
</head>
<body>
    <form action="../back/Api/SignIn.php" method="post">
        <input type="text" name="PrenomAgent" placeholder="PrenomAgent" id="PrenomAgent"/>
        <input type="text" name="password" placeholder="password" id="password"/>
        <button type="submit">Se Connecter</button>
    </form>
</body>
</html>