<!DOCTYPE html>
<html lang="fr-BJ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.:: AGRI-DIGITAL ::.</title>
</head>
<body>
    <form action="./../Api/CreateEntrepot.php" method="post">
        <input type="text" name="CodEntrep" placeholder="CodEntrep" id="CodEntrep"/>
        <input type="text" name="LibEntrep" placeholder="LibEntrep" id="LibEntrep"/>
        <input type="text" name="AdrEntrep" placeholder="AdrEntrep" id="AdrEntrep"/>
        <input type="text" name="CodLoca" placeholder="CodLoca" id="CodLoca"/>
        <button type="submit">Create</button>
    </form>
</body>
</html>