<!DOCTYPE html>
<html lang="fr-BJ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.::AGRI•DIGITAL | Inscription::.</title>
</head>
<body>
    <form action="../back/Api/CreateAgent.php" method="post">
        
        <input type="text" name="NomAgent" placeholder="NomAgent" id="NomAgent"/>
        <input type="text" name="PrenomAgent" placeholder="PrenomAgent" id="PrenomAgent"/>
        <input type="date" name="DateNais" placeholder="DateNais" id="DateNais"/>
        <input type="date" name="DatePSce" placeholder="DatePSce" id="DatePSce"/>
        <input type="text" name="password" placeholder="password" id="password"/>
        <button type="submit">S'inscrire</button>
    </form>
</body>
</html>