<!DOCTYPE html>
<html lang="fr-BJ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.:: AGRI-DIGITAL ::.</title>
    <script src="./JS/updateEntrepot.js" async defer></script>
</head>
<body>
    <form action="./../back/Api/UpdateEntrepot.php" method="post">
        <input style="display: none;" type="text" name="CodEntrepOut" id="CodEntrepOut"/>
        <input type="text" name="CodEntrep" placeholder="CodEntrep" id="CodEntrep"/>
        <input type="text" name="LibEntrep" placeholder="LibEntrep" id="LibEntrep"/>
        <input type="text" name="AdrEntrep" placeholder="AdrEntrep" id="AdrEntrep"/>
        <select name="CodLoca" placeholder="CodLoca" id="CodLoca"></select>
        <button type="submit">Update</button>
    </form>
</body>
</html>